@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #f2b3be;
    --second-color: #e16888;
    --font-nav: "Edu AU VIC WA NT Pre", cursive;
    --font-suport: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f2b3be;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: white;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-logo img {
    max-height: 100%;
    height: 80%;
    width: auto;
}

.nav-links {
    height: 100%;
    width: 50vw; 
    font-size: 18px;
    font-family: var(--font-nav);
    color: black; 
}

.nav-links ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li {
    text-decoration: none;
    display: flex;
    color: black; 
}

#nav-login {
    background-color: var(--primary-color);
    color: black;
    font-size: 18px;
}

.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    background-color: var(--primary-color);
}

main {
    min-height: 100vh;
}

section{
    min-height: 100vh;
}

.cards-produtos{
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

#cards-container-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1300px;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card-prod{
    height: 390px;
    width: 300px;
    display: flex;
    flex-direction: row;
    max-width: 18vw;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.card-prod:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.card-prod img {
    width: 100%;
    height: 188px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    object-position: center;
    object-fit: cover; 
}

.card-prod:hover img {
    transform: scale(1.2); 
}

.card-conteudo{
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.card-titulo{
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: var(--font-nav);
    padding-top: 5px;
}

.card-descricao{
    display: flex;
    width: 80%;
    height: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--font-suport);
    font-size: 15px;
}

.card-footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-preco{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: var(--font-suport);
}

.card-botao{
    outline: none;
    border: none;
    background-color: var(--second-color);
    font-family: var(--font-nav);
    margin-top: 15px;
    color: black;
    font-size: 18px;
    border-radius: 15px;
    padding: 5px;
    font-weight: 500;
}

.card-botao:focus{
    outline: none;
}

/*border: 2px solid black;*/